*{
    margin: 0;
    padding: 0;
}


.continer{
    background: hsl(217, 54%, 11%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image{
    justify-content: center;
    display: flex;

}
.image img{
    height: 300px;
    width: 280px;
    margin: 10px ;
    border-radius: 10px;
}

.pr2{
    background:hsl(216, 50%, 16%);
    height:520px;
    width:300px;
    border-radius: 10px;
    
}

.content h2{
    font-weight: 700;
    font-size: medium;
    padding: 5px;
    margin-left: 25px;
    color:  hsl(0, 0%, 100%) ;
}
.content p{
    opacity: 0.5;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    color: hsl(215, 51%, 70%);
}
.content2{
    display: flex;
    
    
}
.content2 .image img{
    width: 10px;
    height: 15px;
}
.content2 .zip{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(178, 100%, 50%);
    font-weight: 700;
}
.content2 .zip2{
    color:hsl(215, 51%, 70%);
}
.content2 .po{
    width: 100px;
    
}

.content2{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.content2 .po2{
    display: flex;
   
    width: 200px;
    justify-content: end;
    align-items: center;

}
.content2 .po{
    display: flex;
   
    width: 200px;
    justify-content: start;
    align-items: center;
}
.content2 .po2 .clock{
    width: 10px;
    height: 15px;
  
    margin-right: 10px;
    align-items: center;
    display: flex;
}
hr{
    margin-left: 10px;
    margin-right: 10px;
    
}
.content3{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 height: 50px;
 width: 300px;
 margin-top: 5px;

 
}
.content3 .image2{
    
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 20px;
    width: 50px;
    margin-left: 10px;
   
}
.content3 .image2 img{
    scale: 0.3;
    border: 5px solid white;
    border-radius: 70px;
    
    
   
}
.content3 .para{
    display: flex;
    justify-content: center;
    
    width: 320px;
  
    margin-right: 40px;
    color:  hsl(0, 0%, 100%);



}
.content3 .para div{
    color: hsl(215, 51%, 70%);
}


